*{
  margin:0;
  padding:0;
}
body{
  background-color: #92B4EC;
  font-family: helvetica;
  padding:0 30px 30px 0;
}
header{
  width: 100%;
  background-color: #1B1A17;
  padding:20px 10px 20px 0;
}
header h1{
  color:#BDE6F1;
  text-align: center;
  padding:50px;
}
header nav{
  width:100%;
  display:flex;
  background-color: #BDE6F1;
}
header nav a{
  width:100%;
  align-content:space-between;
  color:#1B1A17;
  text-decoration:none;
  padding: 20px;
  text-align: center;
}
main{
  width:100%;
  display:flex;
  background-color: #BDE6F1;
  padding:20px 10px 20px 0;
  margin:15px 0 15px 0;
}
article{
  width:75%;
  background-color: #187498;
  text-align: center;
  margin-right:15px;
  padding:50px;
}
article h2{
  margin:0 0 50px 0;
}
article p{
  margin:10px 0 10px 0;
}
aside{
  width:25%;
  background-color: #C70A80;
  padding:20px;  
  text-align: center;
}
aside h2{
  margin:25px 0 15px 0;
}
aside form{
  text-align: center;
}
aside form input[type=submit]{
  padding:4px 10px;
  border-radius:5px;
}
footer{
  width:100%;
  background-color: #FBCB0A;
  text-align: center;
  padding:25px 0px 25px 10px;
  margin:15px 0px 15px 0;
}